[build]
target = "riscv64gc-unknown-none-elf"

[target.riscv64gc-unknown-none-elf]
rustflags = [
    "-Cforce-frame-pointers=yes",
    "-Csoft-float",
    "-Clink-arg=-Tlinker.ld",
]

[target.'cfg(target_os = "none")']
runner = "make run"

[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
